PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="1258"
DATABASE="fun_app"
OPENWEATHER_API_URL="http://api.openweathermap.org/geo/1.0/reverse"
OPENWEATHER_API_KEY="a87c1ba29ea62b08b20c7b17a400daa5"